@import "rsuite/dist/rsuite.css";

.navigation{
    background-color: black;
    width: 100%; 
    display: block; 
    height: 50px; 
    
}

.navItem{
    float:left;
    margin-top: 0px;
}

a {
    color: white; 
    margin-top: 0; 
    
}

 